@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#wrap{
    background-color: #F5F5F5;
    padding: 70px 0;
}

#join_box{
    background-color: white;
    width: 45vw;
    margin: 0 auto;
    border-radius: 35px 0;
}

#join_box h1{
    background-color: #12a60d;
    color: white;
    text-align: center;
    border-radius: 35px 0;
    padding: 15px;
}

#join_form{
    display: flex;
    justify-content: center;
}

#join_form ul{
    width: 80%;
    margin: 2vw 0;
}

#join_form ul li{
    list-style: none;
    margin: 2vw;
    font-size: 1.2rem;
    color: #777777;
    display: flex;
}

#join_form ul li:nth-child(-n+5)
, #join_form ul li:last-child{
    flex-direction: column;
    justify-content: space-between;
}

#join_form ul li:nth-child(6){
    justify-content: right;
    position: relative;
    top: -1vw;
}

#check{
    margin-left: 5px;
}

.join_form_span{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.join_form_span>:first-child{
    width: 20%;
}

.join_form_span>:last-child{
    font-size: 1.1rem;
    color: #777777;
    position: relative;
    top: -0.5vw;
}

.join_form_span>input{
    width: 55%;
    padding: 0.5vw 0.9vw;
    border-radius: 25px;
    border: 1px solid #d5d5d5;
}

.join_input{
    width: 15vw;
    padding: 1.5vh 0.9vw;
    border-radius: 25px;
    border: 1px solid #d5d5d5;
    font-size: 1rem;
}

#role{
    padding: 5px 10px 5px 3px;
    font-size: 1rem;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

.join_input:focus, #role:focus{
    outline: 1px solid #12a60d;
}

.agree{
    height: 10vw;
    text-align: start;
    overflow-y: scroll;
    border: 1px solid #d5d5d5;
    padding: 10px;
    resize: none;
}

#submit{
    font-family: 'Pretendard-SemiBold';
    font-size: 1.3rem;
    padding: 0.8vw 6vw;
    border-radius: 25px;
    border: 1px solid #d5d5d5;
    background-color: #12a60d;
    color: white;
    cursor: pointer;
}

#emsg, #nmsg
, #nick_valid{
    margin: 5px 0;
    display: flex;
    justify-content: right;
    font-size: 1rem;
}

.msg_error
, #nick_valid{
    color: #f62c2c;
}

.msg_ok{
    color: #1d3ed7;
}

#fail_msg{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.7vw;
}













