/* .mypagewrap */
#wrap{
    background: #f5f5f5;
    padding: 70px 0;
}

#wrap>h2{
    text-align: center;
}

.mypagewrap {
    margin: 0 auto;
    width: 60vw;
    padding: 30px;
    border-radius: 10px;
}

/*.mypage_line{
    border: 1px solid #bebebe;
    margin: 0 auto;
    width: 60vw;
}*/

/* .myinfo */
.myinfo {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.gomyinfo a{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    text-decoration: none;
}

/* .mywriteinfo */
.mywriteinfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.mywrite, .mylike {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 300px;
    overflow-y: auto;
}
.mywrite {
    margin-right: 15px;
}

.mylike {
    margin-left: 15px;
}
.mywrite p, .mylike p {
    font-size: 18px;
    font-weight: bold;
    color: #292929;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.mywrite ul, .mylike ul {
    list-style-type: none;
    padding: 0;
}

.mywrite li, .mylike li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
}

.mywrite li a, .mylike li a {
    color: #0077b6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.mywrite li a:hover, .mylike li a:hover {
    color: #005b8f;
}
