<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/board/boarddetail.css}">
    <script th:src="@{/js/notice/notice.js}"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",function () {
            init([[${dto.nid}]]);
        })
    </script>
</head>
<body>
<header></header>
<div id="noticedetailwrap">
    <div class="dttop">
        <span th:text="${dto.title}"></span>
        <button type="submit" id="mod" th:onclick="modNotice()">수정</button>
        <button type="button" id="del" th:onclick="delNotice()">삭제</button>
    </div>
    <div class="dtbody">
        <div class="dtinfo">
            <span> 관리자 </span>
            <span class="infospan" th:text="|조회 ${dto.readNo}|"> 조회 109 </span>
            <span class="infospan" th:text="${#temporals.format(dto.createAt,'yyyy-MM-dd HH:mm')}"> 2024.06.21 09:10</span>
        </div>
        <div class="dtcontent">
            <th:block th:if="${imgPaths != null}">
                <th:block th:each="img:${dto.imgPaths}">
                    <img th:src="@{|/getNotiImages/${img}|}" alt="notice_img">
                </th:block>
            </th:block>
            <p th:text="${dto.content}"></p>
        </div>
        <div class="tolist">
            <a href="/notice">목록으로</a>
        </div>
    </div>
    <footer></footer>
</div>
</body>
</html>