<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MOMSWAY - 입시</title>
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
    <script th:src="@{js/entexam/entexam.js}"></script>
</head>
<body>
<header layout:fragment="header" th:replace="~{header :: header_template}"></header>
<div class="boardwrap">
    <div class="boardtop">입시</div>
    <div class="list">
        <ul class="noticetop">
            <li th:each="t:${toplist}">
                <th:block th:if="${t.category.equals('EVENT')}">
                    <span>🎁</span>
                </th:block>
                <th:block th:if="${t.category.equals('NOTICE')}">
                    <span>📌</span>
                </th:block>
                <span><a th:href="@{|/notice/${t.nid}|}" th:text="${t.title}"/></span>
                <span th:text="${#temporals.format(t.createAt,'yyyy-MM-dd')}"/>
            </li>
        </ul>
        <ul class="boardlist" th:each="item:${entlist}">
            <li>
                <span th:text="${item.eid}"></span>
                <span><a th:href="@{|/entdetail/${item.eid}|}" th:text="${item.title}"></a></span>
                <span th:text="${item.nickname}"></span>
                <span th:text="${#temporals.format(item.createAt,'yyyy-MM-dd')}"></span>
                <span th:text="${item.readNo}"></span>
            </li>
        </ul>

    </div>
    <div class="boardbottom">
        <div class="paging">
            <th:block th:if="${startPage>1}">
                <a th:href="@{/entexam(page=${startPage}-1, search_txt=${search_txt})}" th:text="이전"></a>
            </th:block>
            <th:block th:each="index:${#numbers.sequence(startPage,endPage)}">
                <span th:if="${index==entlist.pageable.getPageNumber()+1}"
                      th:text="${index}"></span>
                <th:block th:if="${index!=entlist.pageable.getPageNumber()+1}">
                    <a th:href="@{/entexam(page=${index}, search_txt=${search_txt})}" th:text="${index}"></a>
                </th:block>
            </th:block>
            <th:block th:if="${endPage<entlist.getTotalPages()}">
                <a th:href="@{/entexam(page=${endPage+1}, search_txt=${search_txt})}" th:text="다음"></a>
            </th:block>
            <a sec:authorize="hasAnyRole('ADMIN','PARENT')" th:href="@{/insertent}" id="writebtn" type="button">글쓰기</a>
        </div>
    </div>
</div>
<footer layout:fragment="footer" th:replace="~{footer :: footer_template}"></footer>
</body>
</html>