<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/entexam/insertent.css}">
</head>
<body>
<form th:method="post" th:action="@{insertent}">
    <ul>
        <li>
            <label th:name="title">제목</label>
            <input type="text" th:name="title" th:id="title">
        </li>
        <li>
            <label th:name="content">내용</label>
            <textarea cols="40" rows="3" th:name="content" th:id="content"></textarea>
        </li>
        <li>
            <button type="submit">내용추가</button>
            <button type="reset">취소</button>
        </li>
    </ul>
</form>
</body>
</html>