<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>🐸MomsWay - 학원홍보</title>
    <link rel="stylesheet" th:href="@{/css/board/boarddetail.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
	<script defer th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/academy/academy.js}"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",function () {
            init([[${dto.aid}]]);
        })
    </script>
</head>
<body>
<header layout:fragment="header" th:replace="~{header :: header_template}"></header>
<div id="wrap">
	<div class="boarddetailwrap">
		<div class="dttop">
			<span th:text="${dto.title}"></span>
			<th:block th:if="${#authentication.name.equals(dto.email) or #authorization.expression('hasRole(''ADMIN'')')}">
				<button type="submit" id="mod" th:onclick="modAcademy()">수정</button>
				<button type="button" id="del" th:onclick="delAcademy()">삭제</button>
			</th:block>
		</div>
		<div class="dtbody">
			<div class="dtinfo">
				<span th:text="${dto.nickname}"></span>
				<div class="readdate">
					<span class="infospan" th:text="|조회 ${dto.readNo}|"></span>
					<span class="infospan" th:text="${#temporals.format(dto.createAt,'yyyy-MM-dd HH:mm')}"></span>
				</div>
			</div>
			<div class="dtcontent">
				<th:block th:each="img:${imgPaths}">
					<img th:src="@{|/getAcaImages/${img}|}" alt="academy_img">
				</th:block>
				<p th:text="${dto.content}"></p>
			</div>
			<div class="tolist">
				<a href="/academy">목록으로</a>
			</div>
		</div>
	</div>
</div>
<footer layout:fragment="footer" th:replace="~{footer :: footer_template}"></footer>
</body>
</html>