<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MOMSWAY - 학원홍보</title>
    <link rel="stylesheet" th:href="@{/css/board/boarddetail.css}">
    <script th:src="@{/js/academy/academy.js}"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",function () {
            init([[${dto.aid}]]);
        })
    </script>
</head>
<body>
<header></header>
<div id="academydetailwrap">
    <div class="dttop">
        <span th:text="${dto.title}"></span>
        <button type="submit" id="mod" th:onclick="modAcademy()">수정</button>
        <button type="button" id="del" th:onclick="delAcademy()">삭제</button>
    </div>
    <div class="dtbody">
        <div class="dtinfo">
            <span th:text="${dto.nickname}"></span>
            <span class="infospan" th:text="|조회 ${dto.readNo}|"></span>
            <span class="infospan" th:text="${#temporals.format(dto.createAt,'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div class="dtcontent">
            <th:block th:each="img:${imgPaths}">
                <img th:src="@{|/getAcaImages/${img}|}" alt="academy_img">
            </th:block>
            <p th:text="${dto.content}"></p>
        </div>
        <div class="tolist">
            <a href="/academy">목록으로</a>
        </div>
    </div>
    <footer></footer>
</div>
</body>
</html>