<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/user/join.css}">
</head>
<body>
<header layout:fragment="header" th:replace="header :: header_template"></header>
<div id="wrap">
	<div id="middle_body">
		<div id="join_box">
			<h1>회원가입</h1>
			<form th:method="post" th:action="@{'#'}" id="join_form">
				<ul>
					<li>
						<label>이메일</label>
						<input type="email" th:name="email" th:id="email" th:class="join_input">
					</li>
					<li>
						<label>비밀번호</label>
						<input type="password" th:name="pwd" th:id="pwd" th:class="join_input">
					</li>
					<li>
						<label>닉네임</label>
						<input type="text" th:name="nickname" th:id="nickname" th:class="join_input">
					</li>
					<li>
						<label>회원유형</label>
						<select th:name="role" th:id="role">
							<option th:value="PARENT">학부모</option>
							<option th:value="ACADEMY">학원</option>
						</select>
					</li>
					<li>
						<p class="agree">제 1 장 총 칙

							제1조 [목 적]
							본 약관은 ㈜천재교과서 (이하 “회사”라 합니다)가 운영하는 온라인 교육 사이트 밀크T초등, 밀크T중학, 밀크T고등, 밀크T아이, 밀크T북클럽(www.milkt.co.kr, mid.milkt.co.kr, high.milkt.co.kr, i.milkt.co.kr, book.milkt.co.kr 이하 “사이트”라 합니다)과 밀크T 학습기를 통하여 제공하는 교육정보서비스 (이하 “서비스”라 합니다)의 이용과 관련하여 회사와 학습생 사이에 권리,의무 및 책임사항 등을 규정하는 것을 목적으로 합니다.

							제2조 [정 의]
							1. 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
							① “회사”라 함은 “학습자료”와 관련된 경제활동을 영위하는 자로서 “이용자”에게 “학습자료” 및 제반 서비스를 제공하는 자를 말합니다.
							② “이용자”라 함은 이 약관에 따라 “회사”가 제공하는 “학습자료” 및 제반 서비스를 이용하는 “학습생” 및 “비학습생”을 말합니다.
							③ “학습생”이라 함은 회사의 사이트에 접속하여 본 약관에 동의함으로써 회사와 이용계약을 체결하고 아이디(ID)를 부여 받은 자로서 회사가 제공하는 정보와 서비스를 지속적으로 이용할 수 있는 자를 말합니다.
							④ “비학습생”이라 함은 “학습생”이 아니면서 “회사”가 제공하는 “학습자료” 및 제반 서비스를 이용하는 자를 말합니다.
							⑤ “학습자료”라 함은 회사가 제작하여 전용학습기기 또는 웹사이트에서 제공 및 판매하는 유ㆍ무료 강좌 또는 유ㆍ무료 서비스 및 기타 관련정보를 의미함으로써, 정보통신망이용촉진 및 정보보호 등에 관한 법률 제 2조 제 1항 제 1호의 규정에 의한 정보통신망에서 사용되는 부호, 문자, 도형, 색채, 음성, 음향, 이미지, 영상 등(이들의 복합체를 포함한다)의 정보나 자료를 말합니다.
							⑥ “아이디(ID)”라 함은 “학습생”의 식별과 “학습자료” 및 제반 서비스의 이용을 위하여 “학습생” 이 정하고, “회사”가 승인하는 영문 또는 영문과 숫자의 조합을 말합니다.
							⑦ “비밀번호(PASSWORD)”라 함은 “학습생”임을 확인하고, 비밀보호를 위해 “학습생”에게 부여된 “아이디”와 일치하는 “학습생” 자신이 정한 영문, 숫자 또는 특수문자 등의 조합을 말합니다.
							⑧ “상품”이라 함은 회사에서 유료로 판매하는 학습자료와 교육정보서비스, 교사관리를 말하며, “월납”과 “일시납” 상품으로 구분을 원칙으로 합니다.
							-“월납 상품”이라 함은 일정 약정기간이 적용된 상품으로 약정기간 동안 매월 일정한 금액을 지불하는 상품을 말합니다.
							-“일시납 상품”이라 함은 최초 결제 시 상품 대금 전체를 결제하는 상품을 말합니다.
							⑨ “전자우편(Email)”이라 함은 인터넷을 통한 우편 혹은 전기적 매체를 이용한 우편을 말합니다.
							⑩ “운영자(관리자)”라 함은 서비스의 전반적인 관리와 원활한 운영을 위하여 회사에서 선정한 사람 또는 회사를 말합니다.
							⑪ “학습생의 게시물”이라 함은 회사의 서비스가 제공되는 사이트에 학습생이 올린 글, 이미지, 각종 파일 및 링크, 각종 댓글 등의 정보를 의미합니다.
							⑫ “CUP 또는 포인트”이라 함은 회사 사이트 내에서 구매, 학습, 커뮤니티 활동 등을 통하여 획득할 수 있는 가상의 지불수단을 말합니다. 그 명칭에 따라 결제 가능한 범위의 차이가 있을 수 있으며, 현금으로 환불되지 않습니다. 명칭은 추후에 추가 또는 변경 될 수 있습니다.
							⑬ "e머니"라 함은 밀크T중학, 밀크T고등 상품 결제에만 사용가능한 지불수단을 말하며, 타 학습생에게 양도가 불가능 합니다.
							⑭ “해지”라 함은 학습생이 유료 서비스 개통 이후 이용 계약을 종료시키는 의사를 표시하는 것을 말합니다.
							⑮학습전용기기”라 함은 회사에서 제공하는 학습서비스를 학습자가 지속적으로 이용하기 위해서 사용하는 태블릿 기기와 케이스 등으로 세부사항은 별도 페이지에 확인 할 수 있는 구성품과 재화를 말합니다.
							16 “이월”이라 함은 학습생의 요청에 의해 회사와 합의된 기간을 중지한 후 중지 되는 기간만큼 연장되는 것을 말합니다.
							17“유료학습시작일”이라 함은 학습생이 이용의 대가로 일정금액을 지불해야 하는 서비스의 시작일을 말합니다.
							18 “쪽지”라 함은 밀크T 내 소통을 위해 간편하게 메시지를 주고 받을 수 있는 메시지 수단을 말합니다.

							2. 전항 각호에 해당하는 정의 이외의, 기타 용어의 정의에 대하여는 거래 관행 및 관계 법령에 따릅니다.

							제3조 [회사정보 등의 제공]
							1. “회사”는 “이용자”가 쉽게 알 수 있도록 다음 각 호의 사항을 사이트 초기 화면에 게시합니다.
							① 대표자의 성명 및 상호
							② 영업소 소재지 주소(이용자의 불만을 처리할 수 있는 곳의 주소를 포함한다) 및 전자우편주소
							③ 전화번호, 모사전송번호(Fax 번호)
							④ 사업자등록번호, 통신판매업 신고번호
							⑤ 사이트의 이용약관
							⑥ 개인정보처리방침
							⑦ 개인정보관리책임자의 성명 및 전화번호 등의 연락처

							제4조 [약관의 게시 등]
							1. “회사”는 “이용자”에게 이 약관을 제시하여 동의를 받으며, 사이트의 초기화면에 이 약관을 게시합니다. 이 경우 제3조를 준용합니다.
							2. “회사”는 “이용자”가 동의하기 전에 약관에 정하여져 있는 내용 중 학습생자격의 제한 및 상실, 청약철회, 과오금의 환불, 이용제한, 해제,해지, 이용자에 대한 피해보상 등과 같은 중요한 내용을 이용자가 쉽게 알 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 설명합니다.
							3. “회사”는 “이용자”가 언제든지 이 약관을 인쇄하거나, 다운로드 할 수 있는 조치를 취합니다.

							제5조 [약관의 변경 등]
							1. “회사”는 「콘텐츠산업진흥법」,「전자상거래 등에서의 소비자보호에 관한 법률」,「학원의 설립ㆍ운영 및 과외교습에 관한 법률」,「약관의 규제에 관한 법률」, 기타 관계법령 또는 상관습에 위배하지 않는 범위에서 이 약관을 변경할 수 있습니다.
							2. “회사”가 약관을 변경할 경우에는 적용일자 및 변경사유를 명시하여 현행약관과 함께 사이트 초기화면에 그 적용일자 7일(“이용자”에게 불리한 변경 또는 중대한 사항의 변경은 30일) 이전부터 적용일자 이후 상당한 기간 동안 공지하고, 기존 “학습생”에게는 변경될 약관, 적용일자 및 변경사유(중요내용에 대한 변경인 경우 이에 대한 설명을 포함)를 본 약관 제6조의 방법을 통하여 통지합니다.
							3. “회사”는 본 조 제2항의 기간 동안【“이용자”가 거절의 의사표시를 하지 않으면 동의한 것으로 간주 하겠다】는 내용을 별도로 고지하였음에도 불구하고 “이용자”가 이 기간 내에 거절의사를 표시하지 않았을 경우 변경약관에 동의한 것으로 간주할 수 있습니다.
							4. “이용자”가 변경약관의 적용을 거절한 경우 “회사”는 변경 전 약관에 따른 서비스 제공이 기술적, 영업적으로 가능한 때에 변경 전 약관에 따라 서비스를 제공합니다. 다만, 변경 전 약관에 따라 서비스를 제공하는 것이 기술적, 영업적으로 곤란한 경우 “회사”는 “이용자”의 손해를 배상하고, 학습자료 이용계약을 해지할 수 있습니다.

							제6조 [“학습생”에 대한 통지]
							1. 회사는 학습생에게 알려야 할 사항이 발생하는 경우, 학습자 가입 시 학습생이 공개한 전자우편주소 또는 쪽지, 팝업 창, 유?무선 등의 방법으로 통지할 수 있습니다.
							2. 회사는 학습생 전체에 대한 통지의 경우 7일 이상 회사 웹 사이트 게시판에 게시함으로써 전항의 통지에 갈음할 수 있습니다. 다만, 학습생 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 전항과 동일한 방법으로 별도 통지할 수 있습니다.

							제7조 [약관의 해석]
							이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 「콘텐츠산업진흥법」, 「전자상거래 등에서의 소비자보호에 관한 법률」, 「학원의 설립ㆍ운영 및 과외교습에 관한 법률」,「약관의 규제에 관한 법률」, 기타 관계법령 및 상관습에 따릅니다.
						</p>
					</li>
					<li>
						<label for="check">동의함</label>
						<input type="checkbox" id="check">
					</li>
					<li>
						<button type="submit" id="submit">회원가입</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<footer layout:fragment="footer" th:replace="footer :: footer_template"></footer>
</div>
</body>
</html>