@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 230px; /* footer 높이만큼 여백을 확보합니다 */
    display: grid;
    grid-template-rows: auto 1fr auto; /* 행의 크기를 정의 (상단 요소, 중앙 여백, footer) */
    min-height: 100vh;
}

footer{
    background-color: #1e1e1e;
    color: #E1E1E1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 230px;
    grid-row: 3;
}

footer *{
    font-family: 'Pretendard-ExtraLight';
}

#footer_box{
    padding: 30px 14.5vw;
    font-size: 1rem;
    color: #bdbdbd;
}

#footer_box ul{
    margin-left: 7px;
}

.footer_top{
    display: flex;
    flex-direction: row;
}

.footer_top li{
    list-style: none;
    margin-right: 75px;
}

.footer_top a{
    text-decoration: none;
    color: #bdbdbd;
}

.line{
    border: 1px solid #626262;
    margin: 15px 0 30px;
}

.footer_middle li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.footer_middle li p{
    margin-right: 50px;
}

.copyright{
    margin-top: 20px;
    text-align: center;
}

