@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

header ul li{
    list-style: none;
}

#header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 110px;
}

#header_top img{
    /*width: 7vw;*/
    width: 135px;
    position: relative;
    top: 7px;
}

#header_top>form{
    margin-top: 50px;
    white-space: nowrap;
}

#search{
    width: 7vw;
    margin-right: 1vw;
    padding: 0.5vw;
    border: 2px solid #12a60d;
    border-radius: 30px;
    opacity: 0.8;
    font-size: 18px;
}

#search:focus {
    outline: none;
}

#search_txt{
    width: 13vw;
    border: 2px solid #12a60d;
    border-radius: 20px;
    padding: 8px 35px 8px 10px;
    font-size: 18px;
}

#search_txt:focus{
    outline: none;
}

#search_icon{
    position: relative;
    right: 35px;
    border: none;
    background-color: transparent;
    color: #12a60d;
}

#header_top ul{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#header_top ul li{
    padding: 10px;
}

#header_top a{
    text-decoration: none;
}

/* 로그인, 로그아웃, 회원가입, 마이페이지, 관리자페이지 */
.user_btn{
    color: #444040;
}

.user_btn li:first-child{
    position: relative;
    left: 7px;
}

.logout{
    background-color: #12a60d;
    color: white;
    border: none;
    padding: 5px 1vw;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    position: relative;
    top: -0.25vw;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mypage, .admin, .login{
    padding: 7px 12px;
    font-size: 1rem;
    color: #12a60d;
    position: relative;
    top: 2px;
    white-space: nowrap;
}

.useradmin{
    position: relative;
    left: -5px;
}

.join{
    padding: 7px 1.3vw;
    font-size: 1rem;
    color: #12a60d;
    border: 2px solid #12a60d;
    border-radius: 30px;
    position: relative;
    top: 2px;
    white-space: nowrap;
}


/* nav 바 시작 */
#header_nav ul{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}

#header_nav a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #292929;
}

#header_nav a:hover
, #header_nav a:active{
    color: #12a60d;
}