<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>🐸MomsWay</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/board/boardinsert.css}">
    <link rel="stylesheet" th:href="@{/css/board/updateBoard.css}">
	<script defer th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/board.js}"></script>
    <script th th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            let username=[[${#authentication.principal.username}]]
            console.log(username);
        })
    </script>
</head>
<body>
<header layout:fragment="header" th:replace="header :: header_template"></header>
<div id="wrap">
	<div id="insertboardwrap">
		<div class="intop">
			<span th:text="${top+' 게시글 등록하기'}"></span>
		</div>
		<form id="form" method="post" th:action="@{${insertAction}}" enctype="multipart/form-data">
			<ul class="inbody">
				<th:block th:if="${noticeOnly!=null}">
					<li class="insertforms">
						<label class="writelabel">노출범위</label>
						<label th:for="notifalse">일반 (공지사항)</label>
						<input class="writeinput writecheck" type="radio" th:name="notify" th:id="notifalse" th:value="false" checked>
						<label th:for="notitrue">중요 (전체)</label>
						<input class="writeinput writecheck" type="radio" th:name="notify" th:id="notitrue" th:value="true">
					</li>
					<li class="insertforms">
						<label class="writelabel" th:for="category">카테고리</label>
						<select class="writeinput" th:name="category" th:id="category">
							<option value="NOTICE">공지</option>
							<option value="EVENT">이벤트</option>
						</select>
					</li>
				</th:block>
				<li class="insertforms">
					<label class="writelabel" th:for="title">제목</label>
					<input class="writeinput titleinput" type="text" th:name="title" th:id="title" required>
				</li>
				<li class="insertforms">
					<label class="writelabel" th:for="content">내용</label>
					<textarea class="writeinput contentinput" th:name="content" th:id="content" required></textarea>
				</li>
				<li>이미지는 각 2MB 이하의 파일만 등록 가능합니다.</li>
				<li class="insertforms">
					<label class="writelabel" th:for="files">파일등록</label>
					<input type="file" th:name="files" id="files" multiple="multiple" accept=".gif, .jpg, .png">
				</li>
				<li id="imgs"></li>
				<li class="insertBtns">
					<button type="button" id="submitBtn">등록</button>
					<button type="button" id="resetBtn">취소</button>
				</li>
			</ul>
		</form>
	</div>
</div>
<footer layout:fragment="footer" th:replace="footer :: footer_template"></footer>
</body>
</html>