<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>🐸MomsWay</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/board/boardinsert.css}">
    <link rel="stylesheet" th:href="@{/css/board/updateBoard.css}">
	<script defer th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/board.js}"></script>
</head>
<body>
<header layout:fragment="header" th:replace="header :: header_template"></header>
<div id="wrap">
	<div id="updateboardwrap">
		<div class="intop">
			<span th:text="${top+' 게시글 수정하기'}"></span>
		</div>
		<form id="form" th:method="post" action="" th:action="@{${insertAction}}" enctype="multipart/form-data">
			<!--        <input type="text" th:name="email" th:value="${#authentication.name}" hidden>-->
			<ul class="inbody">
				<th:block th:if="${noticeOnly!=null}">
					<li class="insertforms">
						<label class="writelabel">노출범위</label>
						<th:block th:if="${dto.notify}">
							<label th:for="notifalse">일반 (공지사항)</label>
							<input class="writeinput writecheck" type="radio" th:name="notify" th:id="notifalse" th:value="false">
							<label th:for="notitrue">중요 (전체)</label>
							<input class="writeinput writecheck" type="radio" th:name="notify" th:id="notitrue" th:value="true" checked>
						</th:block>
						<th:block th:if="${!dto.notify}">
							<label th:for="notifalse">일반 (공지사항)</label>
							<input class="writeinput writecheck" type="radio" th:name="notify" th:id="notifalse" th:value="false" checked>
							<label th:for="notitrue">중요 (전체)</label>
							<input class="writeinput writecheck" type="radio" th:name="notify" th:id="notitrue" th:value="true">
						</th:block>
					</li>
					<li class="insertforms">
						<label class="writelabel" th:for="category">카테고리</label>
						<select class="writeinput" th:name="category" th:id="category" th:value="${dto.category}">
							<option value="NOTICE">공지</option>
							<option value="EVENT">이벤트</option>
						</select>
					</li>
				</th:block>
				<li class="insertforms">
					<label class="writelabel" th:for="title">제목</label>
					<input class="writeinput titleinput" type="text" th:name="title" th:id="title" th:value="${dto.title}" required>
				</li>
				<li class="insertforms">
					<label class="writelabel" th:for="content">내용</label>
					<textarea class="writeinput contentinput" th:name="content" th:id="content" th:text="${dto.content}" required></textarea>
				</li>
				<li class="insertforms">
					<label class="writelabel" th:for="files">파일등록</label>
					<input type="file" th:name="files" id="files" multiple="multiple" accept=".gif, .jpg, .png">
				</li>
				<li id="imgs">
					<th:block th:if="${imgPaths!=null}">
						<th:block th:each="img:${imgPaths}">
							<img class="thumb currfile" th:src="@{${img}}" onclick="updateImg(this)">
						</th:block>
					</th:block>
				</li>
				<li id="uploadImgs"></li>
				<li class="insertBtns">
					<button type="button" id="submitBtn">등록</button>
					<button type="button" id="resetBtn">취소</button>
				</li>
			</ul>
		</form>
	</div>
</div>
<footer layout:fragment="footer" th:replace="footer :: footer_template"></footer>
</body>
</html>