<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/header.js}"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<header th:fragment="header_template">
		<div id="header_top">
			<a th:href="@{/main}"><img th:src="@{/images/logo2.png}" alt="로고이미지"></a>
			<!-- 검색창 -->
			<form th:method="get" th:action="@{/entexam}" th:id="search_form">
				<select th:name="search" th:id="search">
					<option th:value="EntExam">입시</option>
					<option th:value="Academy">학원홍보</option>
				</select>
				<input type="text" th:name="search_txt" th:id="search_txt">
				<button type="submit" id="search_icon">
					<i class="fa-solid fa-magnifying-glass fa-lg"></i>
				</button>
			</form>
			<ul class="user_btn">
				<th:block sec:authorize="hasRole('ADMIN')">
					<li>
						<form th:method="post" th:action="@{/logout}">
							<button type="submit" th:class="logout">로그아웃</button>
						</form>
					</li>
					<li><a th:href="@{/report}" th:text="관리자페이지" th:class="admin"></a></li>
				</th:block>

				<th:block sec:authorize="hasAnyRole('PARENT','ACADEMY')">
					<li>
						<form th:method="post" th:action="@{/logout}">
							<button type="submit" th:class="logout">로그아웃</button>
						</form>
					</li>
					<li><a th:href="@{/'#'}" th:text="마이페이지" th:class="mypage"></a></li>
				</th:block>

				<th:block sec:authorize="!isAuthenticated()">
					<li><a th:href="@{/login}" th:text="로그인" th:class="login"></a></li>
					<li><a th:href="@{/join}" th:text="회원가입" th:class="join"></a></li>
				</th:block>
			</ul>
		</div>
		<div th:id="header_nav">
			<ul>
				<li><a th:href="@{/entexam}">입시</a></li>
				<li><a th:href="@{/academy}">학원홍보</a></li>
				<li><a th:href="@{/notice}">공지사항</a></li>
			</ul>
		</div>
	</header>
</body>
</html>