<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/header.js}"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header layout:fragment="header" th:replace="header :: header_template"></header>
<div id="wrap">
	<!-- 이미지 -->
	<div>
		<img src="/images/Momsway.png" alt="메인이미지" id="main_img">
	</div>
<!--	&lt;!&ndash; 밀크티 링크 &ndash;&gt;
	<div id="middle_milkt">
		<h1>우리 아이 교육은?</h1>
		<h3>천재교육 밀크티에서!</h3>
		<ul>
			<li class="milkt">
				<a href="https://i.milkt.co.kr/Main/frm_Main.aspx">
					<img src="/images/밀크티아이.png" alt="밀크티아이" class="milkt_img">
				</a>
			</li>
			<li class="milkt">
				<a href="https://www.milkt.co.kr/Main/Main_new">
					<img src="/images/밀크티초등.png" alt="밀크티초등" class="milkt_img">
				</a>
			</li>
			<li class="milkt">
				<a href="https://mid.milkt.co.kr/Main/frm_Main.aspx">
					<img src="/images/밀크티중등.png" alt="밀크티중등" class="milkt_img">
				</a>
			</li>
			<li class="milkt">
				<a href="https://high.milkt.co.kr/Main/frm_Main.aspx">
					<img src="/images/밀크티고등.png" alt="밀크티고등" class="milkt_img">
				</a>
			</li>
		</ul>
	</div>-->

	<div id="ddd">
		<div id="ad_div">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Me7zhzokFCM?si=Q8dQqQNp7dmmd3Fi"
			        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
		        encrypted-media; gyroscope; picture-in-picture; web-share"
			        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
			</iframe>
		</div>
	</div>

	<!-- 입시게시판 인기글 -->
	<div class="entLike_div">
		<h2>입시 인기글</h2>
		<ul class="entLike_ul">
			<li th:each="item:${entLikeList}" class="entLike_li">
				<!--			<span th:text="${item[0]}" class="entLike_span"></span>-->
				<a th:href="@{'/entdetail/'+${item[0]}}">
					<span class="entLike_span">&#10024인기</span>
					<span th:text="${item[1]}" class="entLike_span"></span>
					<span th:text="'&#129505'+${item[2]}" class="entLike_span"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="notice_academy">
		<!-- 공지사항 -->
		<div class="notice_div">
			<h2>공지사항</h2>
			<ul class="notice_ul">
				<li th:each="item:${noticeList}" class="notice_li">
					<a th:href="@{'/notice/'+${item.nid}}">
						<span th:if="${item.category=='NOTICE'}"
						      class="notice_span cate_notice">
							<span>공지</span>
						</span>
						<span th:if="${item.category=='EVENT'}"
						      class="notice_span cate_event">
							<span>이벤트</span>
						</span>
						<span th:text="${item.title}" class="notice_span"></span>
					</a>
				</li>
			</ul>
		</div>
		<!-- 학원홍보 -->
		<div class="academy_div">
			<h2>학원 홍보</h2>
			<ul class="academy_ul">
				<li th:each="item:${academyList}" class="academy_li">
					<a th:href="@{'/academy/'+${item.aid}}">
						<span class="academy_span">new!</span>
						<span th:text="${item.title}" class="academy_span"></span>
						<span th:text="|조회수 ${item.readNo}|" class="academy_span"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 입시 -->
	<div class="entLatest_div">
		<h2>입시</h2>
		<ul class="entLatest_ul">
			<li th:each="item:${entLatestList}" class="entLatest_li">
				<a th:href="@{'/entdetail/'+${item.eid}}">
					<span class="entLatest_span">new!</span>
					<span th:text="${item.title}" class="entLatest_span"></span>
					<span th:text="|조회수 ${item.readNo}|" class="entLatest_span"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<footer layout:fragment="footer" th:replace="footer :: footer_template"></footer>
</body>
</html>