<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<header layout:fragment="header" th:replace="header :: header_template"></header>
<div id="wrap">
    <footer layout:fragment="footer" th:replace="footer :: footer_template"></footer>
</div>
</body>
</html>