#wrap{
    background-color: #F5F5F5;
    padding: 45px 0;
}

#wrap h2{
    text-align: center;
}

.reportlist_div{
    width: 60vw;
    margin: 30px auto 10px;
    padding: 3px 10px;
    border-top: 5px solid #d7d7d7;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px
    , rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.reportlist_div ul li{
    list-style: none;
    padding: 1vw;
}

.reporttop li
, .reportlist li:not(:last-child){
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

li span {
    display: inline-block;
}

.reporttop li span:nth-child(1), .reportlist li span:nth-child(1){
    width: 20%;
    text-align: center;
}
.reporttop li span:nth-child(2), .reportlist li span:nth-child(2){
    width: 25%;
    text-align: center;
}
.reporttop li span:nth-child(3), .reportlist li span:nth-child(3){
    width: 25%;
    text-align: center;
}
.reporttop li span:nth-child(4), .reportlist li span:nth-child(4){
    width: 25%;
    text-align: center;
}

.repdel2{
    background-color: #f88686;
    padding: 5px;
    border-radius: 15px;
}
.repdel2:hover{
    background-color: #b65b5b;
}
.paging {
    text-align: center;
    padding: 2%;
}

.paging a, .paging span {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    color: #444040;
}
.repdel>button{
    border: none;
}
/*.boardwrap{*/
/*    height: 30vw;*/
/*}*/
.report{
 text-decoration: none;
 color: black;
}
.report:hover{
   color: #6b6b6b;

}

