ul{
    list-style: none;
}
#reportdetail{
    margin: 5vh 20vw;
}
.rid, .uid, .eid, .comment, .comment,.count{
    padding: 5px;
}

.list{
    padding: 5px;
}
.dtcontent{
    border-bottom: 2px solid #58B27B;;
}
.dto{
     background: #f5f5f5
}
.comment{
    resize: none;
}