#wrap{
    background-color: #F5F5F5;
    padding: 70px 0;
}

#insertboardwrap{
    margin: 0 auto;
    width: 60vw;
    border-radius: 40px 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#updateboardwrap{
    margin: 0 auto;
    width: 60vw;
    border-radius: 40px 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.intop {
    text-align: center;
    background: #F5C943;
    border-radius: 40px 0;
    padding: 3%;
    font-weight: 600;
    font-size: 1.3rem;
    color: #444040;
}

#wrap form {
    margin: 0 7%;
    padding: 7% 0 7% 0;
}

#wrap form ul li {
    list-style: none;
    padding: 2%;
}

.writelabel {
    display: inline-block;
    width: 100px;
}

.writeinput {
    display: inline-block;
    width: 75%;
    border: 1px solid silver;
}

.writecheck {
    width: 30px;
}

.titleinput {
    height: 30px;
}

.contentinput {
    overflow-y: scroll;
    height: 300px;
}

.insertforms {
    display: flex;
}

.insertBtns {
    text-align: center;
}

.insertBtns button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn {
    background-color: #4CAF50;
}

#submitBtn:hover {
    background-color: #45a049;
}

#resetBtn {
    background-color: rgba(153, 153, 153, 0.7);
}

#resetBtn:hover {
    background-color: rgba(153, 153, 153, 1);
}