#wrap{
    background-color: #F5F5F5;
    padding: 70px 0;
}

.boardwrap {
    margin: 0 20vw;
    border-radius: 40px 0;
    background-color: rgba(255, 255, 255, 0.6);
}
.boardwrap a{
    text-decoration: none;
    color: #000000;
}
/*#academywrap{*/
/*    margin: 5vh 20vw;*/
/*}*/

a{
    text-decoration: none;
}

.boardtop {
    text-align: center;
    background: #F5C943;
    border-radius: 40px 0;
    padding: 3%;
    font-weight: 600;
    font-size: 1.3rem;
    color: #444040;
}

.list {
    margin: 0 7%;
    border-bottom: 2px solid #58B27B;
}

.noticetop, .boardlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noticetop {
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}

.noticetop li, .boardlist li {
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    padding: 1.3vw;
}

/* 긴 제목 말줄임 처리 */
li span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* toplist 타이틀 */
.noticetop li span:nth-child(2) {
    width: 68%;
}

/* toplist 아이콘, 글번호 */
.boardlist li span:nth-child(1)
, .noticetop li span:nth-child(1){
    width: 10%;
}

/* 정렬 */
.boardlist li{
    display: flex;
}

/* 타이틀 */
.boardlist li span:nth-child(2){
    width: 49%;
}

/* 작성자 */
.boardlist li span:nth-child(3)
, .noticetop span:nth-child(3){
    width: 20%;
}

/* 작성일 */
.boardlist li span:nth-child(4), .noticetop li span:nth-child(3){
    width: 15%;
}

/* 조회수 */
.boardlist li span:nth-child(5){
    width: 5%;
}

.paging {
    text-align: center;
    padding: 2%;
}

.paging a, .paging span {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    color: #444040;
}

#writebtn {
    width: 80px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 10px lightgrey;
    padding: 1%;
    color: #444040;
    background: #F5C943;

    position: relative;
    left: 38%;
}

#writebtn:hover {
    background-color: #E6BC3F;
}